/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

.resize-bar {
  margin: 0 0 55px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

/*
 * !KEY CHANGE!
 * Used will-change: transform
 * tostick each moveable pizza on its own layer
*/

.mover {
  position: fixed;
  width: 256px;
  z-index: -1;
  transform: translateZ(0);
  will-change: transform;
}

.randomPizzaContainer {
  float: left;
  display: flex;
}

/* 
 * !KEY CHANGE!
 * Added classes for different pizza sizes. Used for scaling.
 *
*/

.small {
  -ms-transform: scale(0.69, 0.69);
  -webkit-transform: scale(0.69, 0.69);
  transform: scale(0.69, 0.69);
}

.medium {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.large {
  -ms-transform: scale(1.61, 1.61);
  -webkit-transform: scale(1.61, 1.61);
  transform: scale(1.61, 1.61);
}

/*  Using layers didn't seem to have any positive effect on speed
.resizeable-pizza {
  transform: translateZ(0);
  will-change: transform;
}*/

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

 .container {
  background-color: rgba(240, 60, 60, 0.8);
}